.works.flex{
  display: flex;
  flex-wrap: wrap;

  a {
    margin: 0.5em;
    width: 50%;
    text-decoration: none;

    flex-grow:1;
    flex-shrink:1;
    flex-basis:20em;
    box-shadow : 0 3px 10px 0 rgba(0, 0, 0, 0.2)
  } 

  figure {
    figcaption {
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      p{
        margin-top: 0;
      }
    }
  }
}

.columns.flex{
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
  margin-bottom: 3em;
  
  .col-1{
    width: 50%;
    flex-grow:1;
    flex-shrink:1;
    flex-basis:20em;

    img{
      width: 100%;
      outline: 1px #ddd solid;
    }
  }
}